.header {
    height: 80px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0.9;

}
