.contacts {
    height: 100vh;
    background-color: #1f1f20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;

}

.title {

}

.forms {
    border: 1px solid;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.input {
    line-height: 30px;
    width: 200px;
}

.textarea {
    line-height: 40px;
    width: 200px;
}

.button {
    padding: 5px;
    height: 30px;
    width: 100px;
}