.contacts {
  height: 100vh;
  background-color: #1f1f20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;

    .title {
      padding: 10px;
      font-family: 'Roboto Slab', serif;
      font-size: 35px;
      color: #fdf8ff;
      margin: 0;
      line-height: 1.2;
    }

    .forms {
      padding: 10px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .input {
        line-height: 30px;
        width: 300px;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid #ccc;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 400;
      }

      .textarea {
        line-height: 50px;
        width: 280px;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid #ccc;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 400;
      }

      .button {
        border: 1px solid;
        padding: 10px;
        background-color: #f09815;
        border-radius: 7px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
