.leagueBlock {
  min-height: 100vh;
  background-color: #1f1f20;

  .container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .photo {
      width: 450px;
      height: 600px;
      margin: 50px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media screen and (max-width: 657px) {
        width: 200px;
        height: 300px;
      }
    }

    .text {
      width: 500px;
      color: #fdf8ff;

      h2 {
        font-family: 'Roboto Slab', serif;
        font-size: 35px;
        margin: 0;
        line-height: 1.2;
      }

      .description {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8;
      }
    }
  }
}



