.leagueBlock {
    height: 100vh;
    background-color: cornflowerblue;
}
.container {

    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photo {
    width: 400px;
    height: 500px;
    background-color: antiquewhite;
}
.text {
    width: 500px;
    background-color: aliceblue;
}
