.reportsBlock {
    min-height: 90vh;
    background-color: #262626;
}
.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: #fdf8ff;
    margin: 60px;
    line-height: 1.2;
}
.reports {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 875px) {
    .reports {
        justify-content: center;
    }
}
