.mainBlock {
    min-height: 100vh;
    background-color: #1f1f20;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.text {
    width: 1200px;
    color: #fdf8ff;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.text h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    margin: 0;
    line-height: 1.2;
}
.description {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}

@media screen and (max-width: 1124px) {
    .container {
        justify-content: center;
    }
}