.mainBlock {
    height: 100vh;
    background-color: pink;
}
.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.text {
    width: 300px;
    background-color: aliceblue;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
}