@import '../common/styles/sass/variables';

.nav {
  margin: 0 80px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    color: $textColor;
    font-family: $fontTitle;
    font-size: 20px;
    font-weight: 200;
    @media screen and (max-width: 440px) {
      font-size: 13px;
    }
  }
}
