.nav {
    margin: 0 80px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav a {
    text-decoration: none;
    color: #fdf8ff;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 200;
}

@media screen and (max-width: 440px) {
    .nav a {
        font-size: 13px;
    }
}