.footer {
    background-color: #1f1f20;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.socialMedia {
    border: 1px solid;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    height: 30px;
    width: 30px;
    background-color: rgb(240, 152, 21);
}

@media screen and (max-width: 300px) {
    .socialMedia {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .icon {
        padding: 10px;
    }
}